@using HairSalon.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  <h1 class="center"><img class="small" src="~/img/stylists.png" alt="stylist logo"> New stylist</h1>
  <form action="/stylists" method="post">
    <div class="form-group">
      <label for='name'>Name</label>
      <input id='name' name='name' class="form-control" type='text' required>
      <label for='email'>Email</label>
      <input id='email' name='email' class="form-control" type='text' required>
      <label for='phoneNumber'>Phone number</label>
      <input id='phoneNumber' name='phoneNumber' class="form-control" type='text' maxlength='15' required>
      <label for='schedule'>Schedule</label>
      <input id='schedule' name='schedule' class="form-control" type='text' required>
      <label for='haircutStyles'>Haircut styles</label>
      <input id='haircutStyles' name='haircutStyles' class="form-control" type='text' required>

      <label for="specialtyId">Specialty</label>
      <select id="specialtyId" name="specialtyId" class="form-control">
          @foreach(Specialty specialty in Model)
          {
              <option value="@specialty.GetId()">@specialty.GetDescription()</option>
          }
      </select>
    </div>
    <div class="center">
      <button type="submit">Add</button>
    </div>
  </form>

  <hr>
  <div class="center">
    <p><a href="/stylists">Go back to Stylists list</a></p>
    <p><a href="/">Go back to home page</a></p>
  </div>
</div>
