<h1>New stylist</h1>
<form action="/stylists" method="post">
  <label for='name'>Name</label>
  <input id='name' name='name' type='text' required>
  <label for='email'>Email</label>
  <input id='email' name='email' type='text' required>
  <label for='phoneNumber'>Phone number</label>
  <input id='phoneNumber' name='phoneNumber' type='text' required>
  <label for='schedule'>Schedule</label>
  <input id='schedule' name='schedule' type='text' required>
  <label for='haircutStyles'>Haircut styles</label>
  <input id='haircutStyles' name='haircutStyles' type='text' required>
  <button type="submit">Submit</button>
</form>
