@using HairSalon.Models;

<h1>@Model["stylist"].GetName()</h1>
@if(Model["clients"].Count == 0)
{
  <p>No client for this stylist.</p>
}
@if(Model["clients"].Count != 0)
{
  @foreach(Client client in Model["clients"])
  {
    <p><a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()">@client.GetName()</a></p>
  }
}
<p><a href="/stylists/@Model["stylist"].GetId()/clients/new">Add client</a><p>
<p><a href="/stylists/@Model["stylist"].GetId()/edit">Edit stylist</a></p>
<p><a href="/stylists">Go back to Stylists list</a></p>
<form action='/stylists/@Model["stylist"].GetId()/delete' method="post">
  <button type='submit'>Delete</button>
</form>
