<h1>New specialty</h1>
<form action="/specialties" method="post">
  <label for='description'>Description</label>
  <input id='descripotion' name='description' type='text' required>
  <button type="submit">Add</button>
</form>
