<h1>New specialty</h1>
<form action="/specialties" method="post">
  <label for='description'>Description</label>
  <input id='descripotion' name='description' type='text' required>
  <button type="submit">Add</button>
</form>

<p><a href="/specialties">Go back to Specialties list</a></p>
<p><a href="/">Go back to home page</a></p>
