@using HairSalon.Models;
@{
  Layout = "_Layout";
}
  <div class="container center">
  <h1><img class="small" src="~/img/specialty.jpg" alt="specialty logo"> Specialty: @Model["specialty"].GetDescription()</h1>

  @if(Model["stylists"].Count == 0)
  {
    <p>No stylists for this specialty.</p>
  }
  @if(Model["stylists"].Count != 0)
  {
    @foreach(Stylist stylist in Model["stylists"])
    {
      <p><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></p>
    }
  }

  <br>
  <form action="/specialties/@Model["specialty"].GetId()/edit">
    <button>Edit</button>
  </form>

  <br>
  <form action='/specialties/@Model["specialty"].GetId()/delete' method="post">
    <button type='submit'>Delete</button>
  </form>

  <hr>
</div>

<div class="footer center">
  <div class="container">
    <br>
    <p><a href="/specialties">Go back to Specialties list</a></p>
    <p><a href="/">Go back to home page</a></p>
  </div>
</div>
