@{
  Layout = "_Layout";
}
<div class="container">
  <hr>
  <div class="center">
    <p><img class="small" src="~/img/stylists.png" alt="stylist logo"><a href="stylists">Our Stylists<a></p>
    <p><img class="small" src="~/img/specialty.jpg" alt="specialty logo"><a href="specialties">Our Specialties<a></p>
    <p><img class="small" src="~/img/clients.png" alt="client logo"><a href="clients">Our Clients<a></p>
  </div>
  <hr>
</div>
