@using HairSalon.Models
@{
  Layout = "_Layout";
}
<div class="container">
  <hr>
  <h1 class="center"><img class="small" src="~/img/clients.png" alt="client logo"> New Client for @Model.GetName()</h1>
  <form action="/stylists/@Model.GetId()/clients" method="post">
    <div class="form-group">
      <input id="stylist_id" name="stylist_id" class="form-control" type="hidden" value="@Model.GetId()">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" type="text" required>
      <label for="email">Email</label>
      <input id="email" name="email" class="form-control" type="text" required>
      <label for='phoneNumber'>Phone number</label>
      <input id='phoneNumber' name='phoneNumber' class="form-control" type='text' maxlength='15' required>
    </div>
    <div class="center">
      <button type="submit">Add</button>
    </div>
  </form>

  <hr>
</div>

<div class="footer center">
  <div class="container">
    <br>
    <p><a href="/stylists/@Model.GetId()">Back to @Model.GetName()</a></p>
    <p><a href="/">Go back to home page</a></p>
  </div>
</div>
